body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
}

.sidenav {
    padding-top: 50px;
    display: flex;
    width: 250px;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    z-index: 1;
}

.sidenav a {
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.sidenav a:hover {
    box-shadow: 0 0 3px 1px black;
}

.content {
    background-color: #EAE5E5;
    flex: 1;
    padding: 20px;
}




